.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.register-title {
    font-size: 50px;
}
.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.register-form label {
    margin: 10px 0;
}
.register-input {
    padding: 10px;
    background: var(--white);
    border: none;
}
.login-btn {
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: var(--primary-clr);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}
.register-btn {
    position: absolute;
    top: 60px;
    right: 20px;
    border: none;
    background: var(--secondary-clr);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}