.write-section {
  padding-top: 50px;
}
.write-img {
  margin-left: 150px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  object-fit: cover;
}
.write-form {
}
.write-form-group {
  margin-left: 150px;
  display: flex;
  align-items: center;
}
.write-form-group svg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
}
.write-title {
  font-size: 30px;
  border: none;
  padding: 8px;
  width: 70vw;
  background: transparent;
}

.write-title:focus {
  outline: none;
}
.write-desc {
  margin-top: 20px;
  font-size: 20px;
  background: transparent;
  outline: none;
}
.submit-btn {
  float: right;
  color: var(--white);
  background: var(--primary-clr);
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
